body {
text-align: center;
background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1613674022_41-p-foni-dlya-prezentatsii-produkti-66.jpg');
}
h1,h2{
text-align: center;
}
img {
items-align: center;
}